/* 
.container {
  font-family: 'BenchNine', sans-serif;
}

header{
  left: 0;
  padding: 10px 0 10px 0; 
}
.sidenav {
    height: 100%; 
    width: 100%;
    position: fixed; 
    z-index: 1; 
    left: 0;
    background-color:lightblue;
    overflow-x: hidden; 
    padding: 20px;
}
ul {
  list-style-type:none;
}

.sidenav a:hover {
    color: #f1f1f1;
  }
  
  
  .main {
    margin-left: 160px; 
  } */